
.home{
    display: flex;
    flex-direction: column;
    gap:50px;
  .title{
    text-align:center;
    padding-top:50px;
    cursor: pointer;
    color:var(--blue);
  }
  .actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:min(100%,850px);
    gap:20px;

    .cell{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--red);
      padding: 20px;
      aspect-ratio: 1/1;
      border-radius:50%;
      width:100px;
      text-align: center;
      cursor: pointer;
      color:white;
      opacity: 0.7;
      transition: 0.5s;


      a{
        color:white;
        font-size: 1.5em;
        font-weight:bold;
      }
    }

    .cell:hover{
      opacity:1;
    }

    .cell:nth-child(2n){
      background: var(--green);
    }
  }
}

.menu{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:min(100%,400px);

    .cell{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      text-align: center;
      color:var(--blue);

      a{
        color:var(--blue);
        font-weight:bold;
        font-size: 1.3em;
        background: white;
        padding:10px;
        border-radius: 20px;
      }
      
    }
  }