* {
  box-sizing: border-box;
}

.autoSuggestion {
  transition: 0.5s;
}
.autoSuggestion:hover {
  background: var(--bluet);
  color: white;
  font-size: 14px;
  border-top: 2px solid var(--lightgray);
}

.home-title {
  transition: 0.5s ease-in-out;
}

.home-title:hover {
  transform: translate(10px);
}
.menu:hover,
.menu:focus {
  transform: translateY(-10px) scale(1.05);
}

.floatTopbar {
  button {
    border-radius: 10px;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.drawerButton,
.drawerButtonSelected,
.closeButton {
  background: none;
  box-shadow: none;
  border: none;
  color: var(--blue);
  border-radius: 0px;
  transition: 0.5s;
  font-size: 16px;
}

.drawerButtonSelected {
  background: var(--bluet);
  color: white;
}

.drawerButton:hover,
.drawerButton:focus {
  background: var(--goldt);
}

.drawerButtonSelected:focus,
.drawerButtonSelected:hover {
  background: var(--blue);
}

.closeButton {
  background: var(--redt);
  color: white;
}

.closeButton:hover,
.closeButton:focus {
  background: var(--red);
  border-radius: 0;
}

.icon {
  box-shadow: -2px 2px 5px -1px gray;
  border: 5px solid var(--whitet);
  p {
    background: var(--goldt);
    font-size: 80%;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    opacity: 0.25;
    transition: 0.5s;
  }
}

.icon:hover,
.icon:focus {
  transform: translate(-10px);

  p {
    opacity: 1;
  }
}

.controlButtons {
  display: flex;
  flex-direction: row;
  button {
    border: none;
    background: var(--bluet);
    color: white;
    padding: 10px;
    border-radius: 0;
    transition: 0.5s ease-in-out;
    border-right: 1px solid var(--whitet);
  }

  button:hover {
    background: var(--blue);
  }
}

.multiDisplay {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.multiDisplayOptions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  overflow: auto hidden;
  width: 80%;
}

.multiDisplayOptionSelected,
.multiDisplayOption {
  cursor: pointer;
  padding: 10px;
  color: var(--bluet);
  transition: 0.5s;
  border-bottom: 5px solid transparent;
  h4 {
    margin: 0;
  }
}

.multiDisplayOptionSelected:hover,
.multiDisplayOption:hover,
.multiDisplayOptionSelected:focus,
.multiDisplayOption:focus {
  color: var(--blue);
}

.multiDisplayOptionSelected {
  border-bottom: 5px solid var(--blue);
  color: var(--blue);
}

.multiDisplayContent {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  width: 100%;
}

.displayRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  .input,
  select {
    min-width: 100px;
    border-radius: 5px;
  }
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  padding: 20px 10px;
}

.radios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  align-items: start;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: left;
  transition: 0.5s ease-in-out;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.radio:hover {
  background: var(--lightbluet);
}

.tableContainer {
  padding: 5px;
  overflow-x: auto;
  overflow-y: clip;
  height: fit-content;
  padding-bottom: 40px;
}

.tableCell {
  border: 1px solid var(--bluet);
  text-align: center;
  position: relative;
  h4 {
    margin: 0;
    min-width: 100px;
  }
  button {
    width: 100%;
    border-radius: 0;
    color: white;
  }
  input,
  select {
    width: 100%;
    height: 100%;
  }
}
