* {
  box-sizing: border-box;
}

.autoSuggestion {
  transition: 0.5s;
}
.autoSuggestion:hover {
  background: var(--lightgray);
  font-size: 14px;
  border-top: 2px solid var(--lightgray);
}

.menu:hover,
.menu:focus {
  transform: rotate(10deg);
}

.drawerButton,
.drawerButtonSelected {
  background: none;
  box-shadow: none;
  color: var(--blue);
  border: 2px solid transparent;
  transition: 0.5s;
  padding: 5px;
  border-radius: unset;
  font-size: 100%;
}

.drawerButtonSelected {
  border-top: 2px solid var(--greent);
}

.drawerButton:hover,
.drawerButton:focus {
  background: var(--goldt);
}

.drawerButtonSelected:focus,
.drawerButtonSelected:hover {
  background: none;
}

.closeButton {
  color: var(--redt);
}

.icon {
  p {
    background: var(--goldt);
    font-size: 80%;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    opacity: 0.5;
    transition: 0.5s;
  }
}

.icon:hover,
.icon:focus {
  transform: rotate(10deg);

  p {
    opacity: 1;
  }
}

.windowTitle {
  color: inherit;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  border-radius: 15px;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 5px solid var(--whitet);

  h3 {
    margin: 0;
  }
}

.displayArea {
  display: flex;
  flex-direction: column;
  background: var(--whitet);
  border-radius: 15px;
  padding: 10px;
  border: 5px solid white;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.displayRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  .input,
  select {
    min-width: 100px;
    border-radius: 5px;
  }
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  padding: 20px 10px;
}

.radios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
}

.radio {
  width: max(100%, 100px);
  display: flex;
  flex-direction: row;
  justify-content: left;
  transition: 0.5s ease-in-out;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.radio:hover {
  background: var(--goldt);
}

.tableContainer {
  width: 100%;
  overflow: auto;
}

.tableCell {
  border: 1px solid var(--bluet);
  text-align: center;
  h4 {
    margin: 0;
    min-width: 100px;
  }
  button {
    width: 100%;
    border-radius: 0;
  }
  input,
  select {
    width: 100%;
    height: 100%;
  }
}
