*{
  box-sizing: border-box;
}

.container{
  position: fixed;
  top:0;
  width:min(100%,960px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:min(2%,20px);
  color:var(--bluet);
  font-family: Lex, Helvet,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBarOuter{
  padding:10px;
  padding-top:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:fit-content ;
  border-radius: 25px;
  gap:10px;
  padding: 10px;
  transition:0.5s;
  overflow: auto;
  box-shadow: 0px 3px 10px 2px lightgray;
}

.searchBarButton{
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30px;
  padding: 5px;
}

.search{
  background: white;
  border-radius: 15px;
  input{
    background: none;
  }
}

.innerContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.homeOuter{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding:10px;
}

.home{
  padding: 50px;
  width:fit-content;
  display:flex;
  flex-direction: column;
  gap:30px;
  height:fit-content;
  justify-content: center;
  height: fit-content;
  transition: 0.5s;
  box-shadow: 0px 1px 10px 0px var(--gray);
  border-radius: 25px;
  backdrop-filter: blur(2px);
  border:5px solid var(--whitet);
}


.title{
  text-align: center;
  color:white;
  cursor: pointer;
  margin: 0;
  background: var(--bluet);
  padding: 10px;
  border-radius: 15px;

  .reg{
    opacity:0;
    transition: 0.5s;
  }
}

.title:hover{

  .reg{
    opacity:1
  }
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  padding:20px;
  border-radius: 15px;
  background: var(--whitet);
}

.menu{
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  width:150px;
  padding:5px;
}

.menu:nth-child(2){
  border-radius: 20px;
}

.menu:hover{
  transform: rotate(10deg);
}

.menuContainer{
  display:flex;
  flex-direction: column;
  gap:10px;
  padding:5%;
  width:100%;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 0px var(--gray);
  backdrop-filter: blur(2px);
  border: 3px solid var(--whitet);
}

.menuContainerTitle{
  border-radius: 15px;
  background: none;
  padding:10px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  background: var(--bluet);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  color:white;
}

.menuContainerTitle:hover{
  transform: translate(5px);
}

.menuList{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:3%;
  transition: 0.5s;
}

.menuItems{
  display:flex;
  flex-direction: row;
  gap:2%;
  row-gap: 10px;
  width: 100%;
  padding:15px;
  border-radius: 15px;
  height:fit-content;
  overflow: auto;
  transition: 0.5s;
  cursor: pointer;
}

.menuItem{
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap:2px;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 10px;
  transition: 0.5s;
  box-shadow: 0px 1px 5px 0px var(--gray);
  color:var(--blue);
  border:2px solid var(--whitet);
  
  h4{
    width:120px;
    margin: 0;
  }

  p{
    margin:0;
    opacity:0.1;
    font-size: 80%;
    transition: 0.5s;
    border:1px solid var(--gold);
    padding: 5px;
    border-radius: 5px;
  }
}

.menuItem:hover{
  transform: rotate(10deg);

  p{
    opacity: 1;
  }
}

.menuTitle{
  color:var(--blue);
  border-bottom:1.5px solid var(--bluet);
  padding:10px;
  width:min(100%,450px);
  h4{
    margin:0;
  } 
}

.display{
  box-shadow: 0px 3px 10px 0px var(--gray);
  border-radius: 20px;
  padding:5%;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  height:fit-content;
  color:var(--bluet);
  backdrop-filter: blur(2px);
  border: 3px solid var(--whitet);
}

.displayTitle{
  color:var(--bluet);
  text-align: center;
  padding:10px;
  padding-left: 20px;
  border-radius: 15px;
  margin:0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 2px solid var(--whitet);

  h2{
    margin:0;
  }
}

.displayInputFields{
  display:flex;
  flex-direction: column;
  gap:10px;
  color:var(--blue);
  background: var(--lightbluet);
  border-radius: 15px;
  padding: 10px;
  backdrop-filter: blur(2px);
  border: 2px solid var(--lightbluet);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.displayField{
  padding: 5px;
  border-radius: 15px;
  background: var(--lightbluet);
  transition: 0.5s;
  border: 2px solid var(--whitet);
  input,select{
    border-radius: 10px;
  }
}

.displayRow{
  display: grid;
  grid-template-columns: 50% 50%;
}

.displayObject{
  display:flex;
  flex-direction: column;
  gap:2px;
  padding: 5px;
}

.displayObjectHead{
  display: flex;
  flex-direction: row;
}

.displayObjectButtons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding:2px;
}


.displayTable{
  overflow: auto;
  font-size: 80%;
  padding:5px;
}

.displayTableCell{
  border:1px solid var(--blue);
  input,select{
    border-radius: 0;
    width:max(100%,128px);
    font-size: 100%;
  }
}

.error{
  background: var(--lightredt);
  padding: 20px;
  border-radius: 15px;
  color:var(--blue);
  backdrop-filter: blur(2px);
  border: 2px solid var(--lightredt);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.navigation{
  display:flex;
  flex-direction: row;
  justify-content: right;
  gap:5px;
  padding: 2px;

  button{
    border-radius:10px;
  }
}

.transaction{
  border-radius: 20px;
  padding:5%;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  height:fit-content;
  box-shadow: 0px 3px 10px 0px lightgray;
}

.transactionTitle{
  padding: 10px;
  background: var(--lightbluet);
  border-radius: 15px;
  text-align: center;
  border: 2px solid var(--lightgray);
}

.header{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 5px;
  background: var(--lightbluet);
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--lightgray);
}

.headerField{
  display: grid;
  grid-template-columns: 50% 50%;
}

.lineItems{
  overflow: auto;
  padding: 10px;
  background: var(--lightbluet);
  border-radius: 15px;
  border: 2px solid var(--lightgray);
}

.lineItemCell{
    border:1px solid var(--blue);
    width:fit-content;
    padding: 2px;
  input,select{
    border-radius: 0;
    width:100%;
    max-width: 200px;
    font-size: 100%;
    height:100%;
  }
}

.lineItemsButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:2px;
}


.ledgers{
  display:flex;
  flex-direction: column;
  gap:20px;
  width:100%;
  color:var(--blue);
  border-radius: 25px;
  background: var(--lightgreent);
  backdrop-filter: blur(3px);
  padding:5%;
  height:fit-content;
}

.ledger{
  border-radius:15px;
  backdrop-filter: blur(20px);
  padding:5px;
  border:2px solid var(--lightgray);
}

.displayAsTable{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width:100%;
  height:fit-content;
  overflow: auto;
}


.tableButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.assets{
  width:100%;
}
.reportQuery{
  border-radius: 25px;
  padding:5%;
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap:20px;
  height: fit-content;
  box-shadow: 0px 3px 10px 0px lightgray;
}

.reportQueryTitle{
  background: var(--lightbluet);
  border-radius: 15px;
  padding: 10px;
  grid-column: 1/ span 2;
  border: 2px solid var(--lightgray);
  text-align: center;
  margin:0;
}

.reportQueryField{
  background: var(--lightbluet);
  border-radius: 15px;
  border:2px solid var(--lightgray);
  padding: 10px;
}

.reportQuerySubfield{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.reportQueryColumn{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.reportQueryRow{
  display: flex;
  flex-direction: row;
  gap:5px;
}

.reportQueryCell{
  border-radius: 15px;
}

.reportQueryButtons{
  grid-column: 1/ span 2;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 10px;
  gap:5px;
}

.reportDisplay{
  box-shadow: 0px 3px 10px 0px lightgray;
  height: fit-content;
  border-radius: 25px;
  padding: 5%;
  width: 100%;
}

.reportDisplayButtons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 10px;
}


@media screen and (max-width: 600px){
  
  html{
    background-size: 50%;
  }

  .searchBar{
    box-shadow: 0px 0.5px 3px 0px var(--gray);
    border:2px solid var(--whitet);
  }

  .homeOuter{ 
    width: 100%;
    padding: 0;
  }

 .home{
  gap:30px;
  min-height: unset;
  padding: 20px;
  gap:25px;
  width:100%;
  box-shadow: 0px 0.5px 3px 0px var(--gray);
  backdrop-filter: blur(2px);
 }

 .menu{
  width:unset;
  border-radius: 15px;
 }

 .menu:hover{
  transform: unset;
 }

 .menu:nth-child(1){
  grid-column: 1/ span 2;
  aspect-ratio: 2.2 / 1;
  border-radius: 15px;
 }
 
  .actions{
  display:grid;
  grid-template-columns: 50% 50%;
  padding: 10%;
  font-size: 80%;
 } 
 .menuContainer{
  box-shadow: none;
  box-shadow: 0px 0.5px 3px 0px var(--gray);
  backdrop-filter: blur(2px);
 }

 .display{
  box-shadow: 0px 0.5px 3px 0px var(--gray);
  border: 2px solid var(--whitet);
  backdrop-filter: blur(1px);
  padding: 10px;
 }
}

@media print {
  html{
      background-image: none;
  }

  .searchBarOuter{
    display: none;
  }
}