* {
  box-sizing: border-box;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: min(2%, 20px);
  padding-bottom: 0;
  color: inherit;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-size: 20%;
  background-color: var(--lightgray);
}

.searchbarOverlay {
  padding: 10px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min(100%, 350px);
  border-radius: 25px;
  gap: 10px;
  padding: 5px;
  transition: 0.5s;
  overflow: visible;
  box-shadow: 0px 2px 10px 0px var(--gray);
  border: 5px solid var(--whitet);

  button {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}

.searchArea {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  input {
    background: none;
  }
}

.clock {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 20%;
  color: var(--redt);
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  z-index: -1;
  opacity: 0.2;
  transition: 0.5s ease-in-out;

  h4,
  h5 {
    margin: 0;
  }
}

.clock:hover,
.clock:focus {
  opacity: 1;
  backdrop-filter: blur(5px);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 100%;
  overflow: auto;
  color: var(--blue);
}

.homeOuter {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 10px;
}

.home {
  padding: 30px;
  padding-top: 50px;
  width: min(100%, 650px);
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 15px;
  justify-content: space-between;
  height: fit-content;
  transition: 0.5s;
  box-shadow: 0px 1px 10px 0px var(--gray);
  border: 10px solid var(--whitet);
  border-radius: 25px;
  margin-top: 20px;
}

.title {
  text-align: left;
  color: var(--bluet);
  cursor: pointer;
  margin: 0;
  padding: 10px 5px;
  border-bottom: 3px solid var(--bluet);
  transition: 0.5s;
  width: min(100%, 360px);
}

.home-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 5px;
  border-radius: 15px;
}

.menu {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  width: 150px;
  padding: 5px;
}

.menu:hover,
.menu:focus {
  transform: rotate(10deg);
}

.drawer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  max-width: 960px;
  position: relative;
}

.drawerNavigation {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  border: 3px solid var(--whitet);
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 2px gray;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: inherit;
  overflow: auto;
  position: sticky;
  top: 0px;
  z-index: 850;
}

.drawerNavigationButton,
.drawerSelected {
  background: none;
  color: var(--bluet);
  border: none;
  box-shadow: none;
  font-size: 100%;
  transition: 0.5s;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--bluet);

  h4 {
    margin: 0;
  }
}

.drawerSelected {
  background: var(--bluet);
  color: white;
  box-shadow: 0px 0px 5px 0px var(--gray);
}

.drawerNavigationButton:hover,
.drawerNavigationButton:focus {
  background: var(--goldt);
}

.drawerSubgroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3%;
  transition: 0.5s;
  border-radius: 15px;
  border: 3px solid var(--whitet);
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 2px gray;
}

.drawerSubgroupTitle {
  color: inherit;
  border-bottom: 2px solid var(--bluet);
  padding: 10px;
  width: min(100%, 450px);
  h4 {
    margin: 0;
  }
}

.drawerIcons {
  display: flex;
  flex-direction: row;
  gap: 2%;
  row-gap: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
  overflow: auto;
  transition: 0.5s;
  cursor: pointer;
}

.icon {
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 10px;
  transition: 0.5s;
  box-shadow: 0px 1px 5px 0px var(--gray);
  color: inherit;
  border: 5px solid var(--whitet);
  backdrop-filter: blur(1px);

  h4 {
    width: 120px;
    margin: 0;
  }

  p {
    margin: 0;
    opacity: 0.4;
    font-size: 80%;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    background: var(--goldt);
    color: var(--bluet);
    border: 2px solid white;
  }
}

.icon:hover,
.icon:focus {
  transform: rotate(10deg);

  p {
    opacity: 1;
  }
}

.transactionTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: none;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: inherit;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 5px solid var(--whitet);
}

.transactionType {
  background: none;
  color: var(--bluet);
  border: none;
  box-shadow: none;
  font-size: 100%;
}
.transactionTypeSelected {
  border: none;
  font-size: 100%;
}
.transactionType:hover,
.transactionType:focus {
  background: var(--goldt);
}
.window {
  border-radius: 20px;
  padding: 5%;
  width: min(100%, 960px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  color: inherit;
  border: 10px solid var(--whitet);
  backdrop-filter: blur(3px);
  margin-bottom: 20px;
}

.windowTopBar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.windowContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.windowTitle {
  color: inherit;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  border-radius: 15px;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 5px solid var(--whitet);

  h3 {
    margin: 0;
  }
}

.displayArea {
  display: flex;
  flex-direction: column;
  background: var(--whitet);
  border-radius: 15px;
  padding: 10px;
  border: 5px solid white;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.displayField {
  padding: 5px;
  border-radius: 15px;
  background: var(--lightbluet);
  transition: 0.5s;
  border: 2px solid var(--whitet);
  backdrop-filter: brightness(150%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}

.displayFieldLabel {
  font-weight: bold;
}

.displayRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  .input,
  select {
    min-width: 100px;
    border-radius: 5px;
  }
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--bluet);
  padding: 20px 10px;
}

.labelledInput {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  input,
  select {
    width: 100%;
  }
}

.inputLabel {
  font-size: 14px;
}

.radios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: start;
}

.radio {
  width: max(100%, 100px);
  display: flex;
  flex-direction: row;
  justify-content: left;
  transition: 0.5s ease-in-out;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.radio:hover {
  background: var(--goldt);
}

.displayObject {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.displayObjectHead {
  display: flex;
  flex-direction: row;
}

.displayObjectButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 2px;
}

.displayTable {
  overflow: auto;
  font-size: 80%;
  padding: 5px;
}

.displayTableCell {
  border: 1px solid var(--blue);
  input,
  select {
    border-radius: 0;
    width: max(100%, 128px);
    font-size: 100%;
  }
  button {
    border-radius: 0;
  }
}

.navigationRow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  padding: 10px 0px;
}

.error {
  background: var(--lightredt);
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  border: 5px solid var(--lightredt);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;

  button {
    border-radius: 10px;
  }
}

.dropDown {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--whitet);
  align-items: center;
  background: white;
  cursor: pointer;
  padding: 5px;
}

.dropDown:hover {
  .dropArrow {
    opacity: 1;
  }
}

.dropArrow {
  opacity: 0.1;
  transition: 0.5s;
}

.dropDownHead,
.dropDownList {
  text-align: left;
  width: 100%;
}

.dropDownHead {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropDownList {
  display: flex;
  flex-direction: column;
  label {
    border-bottom: 1px solid var(--gray);
    padding: 5px;
  }
}

.popupOverlay,
.alertOverlay,
.promptFormOverlay,
.hidingInputsOverlay,
.hidingDisplayOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: var(--lightgrayt);
  transition: 1s ease-in-out;
}

.popupContent,
.alertContent,
.floatingWindow,
.promptForm,
.hidingInputs,
.hidingDisplay {
  position: fixed;
  z-index: 1000;
  border-radius: 15px;
  bottom: 10%;
  height: fit-content;
  max-height: 80%;
  width: min(600px, 100%);
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 10px;
  background: var(--bluet);
  backdrop-filter: blur(15px);
  color: white;
  box-shadow: 0px 0px 10px 0px black;
}

.floatingWindow {
  width: min(100%, 500px);
}

.floatingWindowClose {
  border: none;
  background: var(--redt);
  box-shadow: none;
  width: 40px;
  font-size: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.popupDisplay {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  color: inherit;
}

.popupClose {
  background: unset;
  box-shadow: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 5px;
}

.popupClose:hover,
.popupClose:focus {
  color: var(--blue);
  background: white;
}

.tableContainer {
  width: 100%;
  overflow: auto;
}

.tableCell {
  border: 1px solid var(--bluet);
  text-align: center;
  h4 {
    margin: 0;
    min-width: 100px;
  }
  button {
    width: 100%;
    border-radius: 0;
  }
  input,
  select {
    width: 100%;
    height: 100%;
  }
}

@media print {
  .searchBarOuter {
    display: none;
  }
}
