*{
  box-sizing: border-box;
}

.background{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--lightgray);
  padding:10px;
  padding-top:5%;
  background-size: 20%;
  color:var(--blue);
}

.container{
  position: fixed;
  top:0;
  width:min(100%,960px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:min(2%,20px);
  padding-bottom: 0;
  color:inherit;
}

.searchBarOuter{
  padding:10px;
  padding-top:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:fit-content ;
  border-radius: 25px;
  gap:10px;
  padding: 5px;
  transition:0.5s;
  overflow: auto;
  box-shadow: 0px 2px 10px 0px var(--gray);
  border: 5px solid var(--whitet);
}

.searchBarButton{
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30px;
  padding: 5px;
}

.search{
  background: white;
  border-radius: 15px;
  input{
    background: none;
  }
}

.innerContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  height: 100%;
  overflow: auto;
}


.homeOuter{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding:10px;
}

.home{
  padding: 50px;
  width:fit-content;
  display:flex;
  flex-direction: column;
  gap:30px;
  height:fit-content;
  justify-content: center;
  height: fit-content;
  transition: 0.5s;
  box-shadow: 0px 1px 10px 0px var(--gray);
  border-radius: 25px;
  border:10px solid var(--whitet);
}


.title{
  text-align: center;
  color:white;
  cursor: pointer;
  margin: 0;
  background: var(--bluet);
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
}


.actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  padding:20px;
  border-radius: 15px;
  background: var(--whitet);
  backdrop-filter: blur(2px);
  border: 5px solid white;
}

.menu{
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  width:150px;
  padding:5px;
}

.menu:nth-child(2){
  border-radius: 20px;
}

.menu:hover{
  transform: rotate(10deg);
}

.menuContainer{
  display:flex;
  flex-direction: column;
  gap:10px;
  padding:5%;
  width:100%;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 0px var(--gray);
  border: 10px solid var(--whitet);
}

.menuContainer, .display{
  margin-bottom: 20px;
}

.menuContainerTitle{
  border-radius: 15px;
  background: none;
  padding:10px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color:inherit;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 5px solid var(--whitet);
}

.menuContainerTitle:hover{
  transform: translate(5px);
  background: var(--goldt);
}

.menuList{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:3%;
  transition: 0.5s;
}

.menuItems{
  display:flex;
  flex-direction: row;
  gap:2%;
  row-gap: 10px;
  width: 100%;
  padding:15px;
  border-radius: 15px;
  height:fit-content;
  overflow: auto;
  transition: 0.5s;
  cursor: pointer;
}

.menuItem{
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap:5px;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 10px;
  transition: 0.5s;
  box-shadow: 0px 1px 5px 0px var(--gray);
  color:inherit;
  border:5px solid var(--whitet);
  backdrop-filter: blur(1px);
  
  h4{
    width:120px;
    margin: 0;
  }

  p{
    margin:0;
    opacity:0.1;
    font-size: 80%;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    background: var(--whitet);
  }
}

.menuItem:hover{
  transform: rotate(10deg);

  p{
    opacity: 1;
  }
}

.menuTitle{
  color:inherit;
  border-bottom:1.5px solid var(--bluet);
  padding:10px;
  width:min(100%,450px);
  h4{
    margin:0;
  } 
}

.display{
  box-shadow: 0px 3px 10px 0px var(--gray);
  border-radius: 20px;
  padding:5%;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:15px;
  height:fit-content;
  color:inherit;
  border: 10px solid var(--whitet);
}

.displayTitle{
  color:inherit;
  text-align: center;
  padding:10px;
  padding-left: 20px;
  border-radius: 15px;
  margin:0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  border: 5px solid var(--whitet);

  h3{
    margin:0;
  }
}

.displayInputFields{
  display:flex;
  flex-direction: column;
  gap:10px;
  background: var(--lightbluet);
  border-radius: 15px;
  padding: 10px;
  backdrop-filter: blur(2px);
  border: 5px solid var(--lightbluet);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
  backdrop-filter: blur(2px);
}

.displayField{
  padding: 5px;
  border-radius: 15px;
  background: var(--lightbluet);
  transition: 0.5s;
  border: 2px solid var(--whitet);
  backdrop-filter: brightness(150%);
  input,select{
    border-radius: 10px;
  }
}

.displayRow{
  display: grid;
  gap:2px;
  grid-template-columns: calc(50% - 1px) calc(50% - 1px);
}

.displayObject{
  display:flex;
  flex-direction: column;
  gap:2px;
  padding: 5px;
}

.displayObjectHead{
  display: flex;
  flex-direction: row;
}

.displayObjectButtons{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding:2px;
}


.displayTable{
  overflow: auto;
  font-size: 80%;
  padding:5px;
}

.displayTableCell{
  border:1px solid var(--blue);
  input,select{
    border-radius: 0;
    width:max(100%,128px);
    font-size: 100%;
  }
  button{
    border-radius: 0;
  }
}

.error{
  background: var(--lightredt);
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  border: 5px solid var(--lightredt);
  box-shadow: 0px 0.5px 2px 0px var(--gray);
}

.navigation{
  display:flex;
  flex-direction: row;
  justify-content: right;
  gap:5px;

  button{
    border-radius:10px;
  }
}

.dropDown{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--whitet);
  align-items: center;
  background: white;
  cursor: pointer;
  padding: 5px;
}

.dropDown:hover{
  .dropArrow{
    opacity:1
  }
}

.dropArrow{
  opacity:0.1;
  transition: 0.5s;
}

.dropDownHead, .dropDownList{
  text-align: left;
  width:100%;
}

.dropDownHead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropDownList{
  display: flex;
  flex-direction: column;
  label{
    border-bottom: 1px solid var(--gray);
    padding: 5px;
  }
}

@media screen and (max-width: 600px){
  
  html{
    background-size: 50%;
  }

  .innerContainer{
    padding:0;
  }


  .homeOuter{ 
    width: 100%;
    padding: 0;
  }


  .searchBar, .home, .display, .displayTitle, .displayInputFields, .error, .menuContainer, .menuContainerTitle, .menuItem{
    box-shadow: none;
  }

 
 .home{
  gap:30px;
  min-height: unset;
  padding: 20px;
  gap:25px;
  width:100%;
 }

 .menu{
  width:unset;
 }

 .menu:nth-child(1):hover{
  transform: translate(2%);
 }

 .menu:nth-child(1){
  grid-column: 1/ span 2;
  aspect-ratio: 2.2 / 1;
  border-radius: 15px;
 }
 
  .actions{
  display:grid;
  grid-template-columns: 50% 50%;
  padding: 10%;
  font-size: 80%;
 }

 .display{
  padding: 10px;
 }
}

@media print {

  .searchBarOuter{
    display: none;
  }
}