@font-face {
  font-family: "Lexend";
  src: url("../Lexend.woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../Helvetica.woff");
}

button,
input,
select,
option,
label {
  font-family: inherit;
}

:root {
  --blue: rgb(64, 82, 106);
  --bluet: rgb(64, 82, 106, 0.7);
  --lightblue: rgb(80, 150, 220);
  --green: rgb(0, 176, 80);
  --red: rgb(255, 0, 30);
  --gold: rgb(255, 192, 0);
  --goldt: rgb(255, 192, 80, 0.2);
  --cream: rgb(255, 235, 210);
  --lightgray: rgb(245, 245, 245);
  --greent: rgb(0, 176, 80, 0.5);
  --lightbluet: rgb(150, 200, 255, 0.25);
  --lightbluetold: rgb(200, 220, 255, 0.25);
  --redt: rgb(255, 0, 30, 0.55);
  --lightgrayt: rgb(250, 250, 240, 0.4);
  --whitet: rgb(255, 255, 255, 0.65);
  --lightwhitet: rgb(255, 255, 255, 0.2);
  --blackt: rgb(0, 0, 0, 0.4);
  --lightredt: rgb(255, 210, 230, 0.3);
  --lightgreent: rgb(0, 220, 108, 0.2);
  --gray: rgb(180, 180, 180);
  --grayt: rgb(180, 180, 180, 0.35);
}

a {
  text-decoration: none;
}

button,
input,
select,
option,
label,
p {
  padding: 8px;
  cursor: pointer;
  margin: 0;
  border: none;
}

button {
  font-weight: bold;
  transition: 0.5s;
  background: var(--bluet);
  color: white;
  border-radius: 10px;
  border: 2px solid var(--bluet);
}

button:hover {
  background: var(--blue);
}

.red {
  background: var(--redt);
  color: white;
}

.green {
  background: var(--greent);
  color: white;
}

.blue {
  background: var(--bluet);
  color: white;
}

.gold {
  background: var(--gold);
  color: white;
}

.lightblue {
  background: var(--lightblue);
  color: white;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
