@font-face {
  font-family: "Lex";
  src: url('../Lexend.woff');
}

@font-face{
  font-family: "Helvet";
  src:url('../Helvetica.woff');
}

html{
  padding:10px;
  padding-top:5%;
  background: var(--lightgray);
  background-image: url('../texture.png');
  background-size:100%;
}

:root{
  --blue:rgb(64,82,106);
  --lightblue: rgb(80,150,220);
  --green:rgb(0,176,80);
  --red:rgb(255,0,30);
  --yellow:rgb(255,192,0);
  --fontcolor:rgb(80,80,80);
  --lightgray:rgb(245,245,240);
  --greent:rgb(0,176,80,0.8);
  --bluet:rgb(64,82,106,0.8);
  --lightbluet:rgb(150,180,255,0.3);
  --redt:rgb(255,0,30,0.8);
  --lightgrayt:rgb(245,245,240,0.8);
  --whitet:rgb(255,255,255,0.7);
  --blackt:rgb(0,0,0,0.2);
  --lightredt:rgb(255,180,200,0.2);
}

a{
  text-decoration: none;
}

#root{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html,button, select, option, label{
  font-family: Lex, Helvet,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, input, select, option, label{
  padding: 8px;
  cursor: pointer;
  border:none;
}

button{
  font-weight: bold;
  transition: 0.5s;
}

button:hover{
  background: gray;
}

.red{
  background: var(--redt);
  color:white;
}

.green{
  background: var(--greent);
  color:white;
}

.blue{
  background: var(--bluet);
  color:white;
}

.yellow{
  background: var(--yellow);
  color:white;
}

.lightblue {
  background: var(--lightblue);
  color:white;
}